.container {
  align-items: center;
  background: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.header {
  align-items: center;
  background: #05204A;
  color: white;
  display: flex;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 500;
  justify-content: space-between;
  min-height: 68px;
  padding: 0rem 24px;
  width: 100%;
}

.cover {
  background: #05204a;
  display: block;
  height: 13rem;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  color: #666;
  display: flex;
  font-size: 0.85rem;
  justify-content: center;
  margin-top: auto;
  padding: 0.75rem 24px;
  width: 100%;
}
