.container {
  align-items: center;
  background: white;
  box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -6.875rem auto 0;
  max-width: 26.5rem;
  min-height: 25rem;
  padding: 2rem 4rem;
}
